body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
    color:black;
    text-shadow: 0 10px 2px grey;
    
   
    
}
header {
    background-color: rgb(21, 182, 182);
    height: 90px;
     background-image: linear-gradient(to right, #A65E00, #FFC273, #FFD673);
     box-shadow: 3px 20px 15px orange;
    
}
.link-header {
    font-family: 200px;
}
ul {
    color: blue;
    padding-top: 30px;
}
main {
     background-image: linear-gradient(to right, #FFC740, #DCDCDC, #FFD673);
     
}
ul {
    font-size: 30px;
     border: 10px double #200772;
     border-style: ridge;
}
a {
    font-size: 30px;
    border-style: groove;
    border-color:  aqua;
    border-radius: 10px;
    
}
p {
    font-size: 25px;
    color: green;
    font-style: italic;
}
